{{- define "main" }}

<header class="page-header">
    <h1>{{- (printf "%s&nbsp;" .Title ) | htmlUnescape -}}
    </h1>
    {{- if .Description }}
    <div class="post-description">
        {{ .Description }}
    </div>
    {{- end }}
    {{- if not (.Param "hideMeta") }}
    <div class="post-meta">
        {{- partial "translation_list.html" . -}}
    </div>
    {{- end }}
</header>

<div id="friends">
    <p>一些可爱友邻。如果没有TA们，我很可能不会开始：</p>
    <br>
    <ul>
        <a href="https://www.gigigatgat.ca"><li>嘰嘰乞乞</li></a>
        <a href="https://blog.douchi.space/#gsc.tab=0"><li>椒盐豆豉</li></a>
        <a href="https://thewanderingallison.github.io"><li>The Wandering Allison</li></a>
        <a href="https://thirdshire.com"><li>第三夏尔</li></a>
        <a href="https://sleepingcat.me"><li>Cat's Landing</li></a>
        <a href="https://pensieve.wangxindi.org/"><li>邓布利多的冥想盆</li></a>
    </ul>
</div>

{{- if (.Param "comments") }}
{{- partial "comments.html" . }}
{{- end }}

{{- end }}{{/* end main */}}
